@import 'yeticss'

body
	font-weight: 300


.profilephoto
	max-width: 250px
	padding-top: 10px
	padding-right: 30px

.top-nav
	a
		display: block
		font-size: 14px
		font-weight: 300
		color: gray

	a:hover
		color: #00b0e9

	label
		color: #00b0e9

	img
		max-height: 40px

	.nav-bar-logo
		display: inline-block
		margin: 5px

	.nav-bar-name
		color: black

.title
	display: flex
	padding: 2px

.image-gallery
	width: 100%
	display: flex
	flex-direction: column

.gallery-image
	display: flex
	align-items: center
	justify-content: center

	img
		width: 100%
		max-height: 100%

.image-scroller
	display: flex
	justify-content: center
	overflow: auto
	overflow-y: hidden

	img
			width: 50px
			height: 50px
			padding: 1px

.media-outlined
	border-radius: 0px

.main-children-container
	margin: 0 auto
	padding-bottom: 65px

footer
	position: absolute
	bottom: 0px
	width: 100%
	height: 65px
	background-color: lightgray

@media (max-width: 425px)
	.profilephoto
		max-width: 200px

	h1
		font-size: 28px
		text-align: center

	h5
		text-align: center